<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>V移动.png</string>
			<key>name</key>
			<string>移动工具</string>
			<key>shortcut</key>
			<string>V</string>
		</dict>
		<dict>
			<key>image</key>
			<string>V画板工具.png</string>
			<key>name</key>
			<string>画板工具</string>
			<key>shortcut</key>
			<string>V</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>M矩形选框工具.png</string>
			<key>name</key>
			<string>矩形选框工具</string>
			<key>shortcut</key>
			<string>M</string>
		</dict>
		<dict>
			<key>image</key>
			<string>M椭圆选框工具.png</string>
			<key>name</key>
			<string>椭圆选框工具</string>
			<key>shortcut</key>
			<string>M</string>
		</dict>
		<dict>
			<key>image</key>
			<string>M单行选框工具.png</string>
			<key>name</key>
			<string>单行选框工具</string>
			<key>shortcut</key>
			<string></string>
		</dict>
		<dict>
			<key>image</key>
			<string>M单列选框工具.png</string>
			<key>name</key>
			<string>单列选框工具</string>
			<key>shortcut</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>L套索工具.png</string>
			<key>name</key>
			<string>套索工具</string>
			<key>shortcut</key>
			<string>L</string>
		</dict>
		<dict>
			<key>image</key>
			<string>L多边形套索工具.png</string>
			<key>name</key>
			<string>多边形套索工具</string>
			<key>shortcut</key>
			<string>L</string>
		</dict>
		<dict>
			<key>image</key>
			<string>L磁性套索工具.png</string>
			<key>name</key>
			<string>磁性套索工具</string>
			<key>shortcut</key>
			<string>L</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>W快速选择工具.png</string>
			<key>name</key>
			<string>快速选择工具</string>
			<key>shortcut</key>
			<string>W</string>
		</dict>
		<dict>
			<key>image</key>
			<string>W魔棒工具.png</string>
			<key>name</key>
			<string>魔棒工具</string>
			<key>shortcut</key>
			<string>W</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>C裁剪工具.png</string>
			<key>name</key>
			<string>裁剪工具</string>
			<key>shortcut</key>
			<string>C</string>
		</dict>
		<dict>
			<key>image</key>
			<string>C透视裁剪工具.png</string>
			<key>name</key>
			<string>透视裁剪工具</string>
			<key>shortcut</key>
			<string>C</string>
		</dict>
		<dict>
			<key>image</key>
			<string>C切片工具.png</string>
			<key>name</key>
			<string>切片工具</string>
			<key>shortcut</key>
			<string>C</string>
		</dict>
		<dict>
			<key>image</key>
			<string>C切片选择工具.png</string>
			<key>name</key>
			<string>切片选择工具</string>
			<key>shortcut</key>
			<string>C</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>I吸管工具.png</string>
			<key>name</key>
			<string>吸管工具</string>
			<key>shortcut</key>
			<string>I</string>
		</dict>
		<dict>
			<key>image</key>
			<string>I3D材质吸管工具.png</string>
			<key>name</key>
			<string>3D材质吸管工具</string>
			<key>shortcut</key>
			<string>I</string>
		</dict>
		<dict>
			<key>image</key>
			<string>I颜色取样器工具.png</string>
			<key>name</key>
			<string>颜色取样器工具</string>
			<key>shortcut</key>
			<string>I</string>
		</dict>
		<dict>
			<key>image</key>
			<string>I标尺工具.png</string>
			<key>name</key>
			<string>标尺工具</string>
			<key>shortcut</key>
			<string>I</string>
		</dict>
		<dict>
			<key>image</key>
			<string>I注释工具.png</string>
			<key>name</key>
			<string>注释工具</string>
			<key>shortcut</key>
			<string>I</string>
		</dict>
		<dict>
			<key>image</key>
			<string>I计数工具.png</string>
			<key>name</key>
			<string>计数工具</string>
			<key>shortcut</key>
			<string>I</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>J污点修复画笔工具.png</string>
			<key>name</key>
			<string>污点修复画笔工具</string>
			<key>shortcut</key>
			<string>J</string>
		</dict>
		<dict>
			<key>image</key>
			<string>J修复画笔工具.png</string>
			<key>name</key>
			<string>修复画笔工具</string>
			<key>shortcut</key>
			<string>J</string>
		</dict>
		<dict>
			<key>image</key>
			<string>J修补工具.png</string>
			<key>name</key>
			<string>修补工具</string>
			<key>shortcut</key>
			<string>J</string>
		</dict>
		<dict>
			<key>image</key>
			<string>J内容感知移动工具.png</string>
			<key>name</key>
			<string>内容感知移动工具</string>
			<key>shortcut</key>
			<string>J</string>
		</dict>
		<dict>
			<key>image</key>
			<string>J红眼工具.png</string>
			<key>name</key>
			<string>红眼工具</string>
			<key>shortcut</key>
			<string>J</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>B画笔工具.png</string>
			<key>name</key>
			<string>画笔工具</string>
			<key>shortcut</key>
			<string>B</string>
		</dict>
		<dict>
			<key>image</key>
			<string>B铅笔工具.png</string>
			<key>name</key>
			<string>铅笔工具</string>
			<key>shortcut</key>
			<string>B</string>
		</dict>
		<dict>
			<key>image</key>
			<string>B颜色替换工具.png</string>
			<key>name</key>
			<string>颜色替换工具</string>
			<key>shortcut</key>
			<string>B</string>
		</dict>
		<dict>
			<key>image</key>
			<string>B-混合器画笔工具.png</string>
			<key>name</key>
			<string>混合器画笔工具</string>
			<key>shortcut</key>
			<string>B</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>S仿制图章.png</string>
			<key>name</key>
			<string>仿制图章</string>
			<key>shortcut</key>
			<string>S</string>
		</dict>
		<dict>
			<key>image</key>
			<string>S图案图章.png</string>
			<key>name</key>
			<string>图案图章</string>
			<key>shortcut</key>
			<string>S</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>Y历史记录画笔.png</string>
			<key>name</key>
			<string>历史记录画笔</string>
			<key>shortcut</key>
			<string>Y</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Y历史记录艺术画笔.png</string>
			<key>name</key>
			<string>历史记录艺术画笔</string>
			<key>shortcut</key>
			<string>Y</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>E橡皮擦工具.png</string>
			<key>name</key>
			<string>橡皮擦工具</string>
			<key>shortcut</key>
			<string>E</string>
		</dict>
		<dict>
			<key>image</key>
			<string>E背景橡皮擦工具.png</string>
			<key>name</key>
			<string>背景橡皮擦工具</string>
			<key>shortcut</key>
			<string>E</string>
		</dict>
		<dict>
			<key>image</key>
			<string>E魔术橡皮擦.png</string>
			<key>name</key>
			<string>魔术橡皮擦</string>
			<key>shortcut</key>
			<string>E</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>G渐变工具.png</string>
			<key>name</key>
			<string>渐变工具</string>
			<key>shortcut</key>
			<string>G</string>
		</dict>
		<dict>
			<key>image</key>
			<string>G油漆桶工具.png</string>
			<key>name</key>
			<string>油漆桶工具</string>
			<key>shortcut</key>
			<string>G</string>
		</dict>
		<dict>
			<key>image</key>
			<string>G3D材质拖放工具.png</string>
			<key>name</key>
			<string>3D材质拖放工具</string>
			<key>shortcut</key>
			<string>G</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>模糊工具.png</string>
			<key>name</key>
			<string>模糊工具</string>
			<key>shortcut</key>
			<string></string>
		</dict>
		<dict>
			<key>image</key>
			<string>锐化工具.png</string>
			<key>name</key>
			<string>锐化工具</string>
			<key>shortcut</key>
			<string></string>
		</dict>
		<dict>
			<key>image</key>
			<string>涂抹工具.png</string>
			<key>name</key>
			<string>涂抹工具</string>
			<key>shortcut</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>O减淡工具.png</string>
			<key>name</key>
			<string>减淡工具</string>
			<key>shortcut</key>
			<string>O</string>
		</dict>
		<dict>
			<key>image</key>
			<string>O加深工具.png</string>
			<key>name</key>
			<string>加深工具</string>
			<key>shortcut</key>
			<string>O</string>
		</dict>
		<dict>
			<key>image</key>
			<string>O海面工具.png</string>
			<key>name</key>
			<string>海绵工具</string>
			<key>shortcut</key>
			<string>O</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>P钢笔工具.png</string>
			<key>name</key>
			<string>钢笔工具</string>
			<key>shortcut</key>
			<string>P</string>
		</dict>
		<dict>
			<key>image</key>
			<string>P自由钢笔工具.png</string>
			<key>name</key>
			<string>自由钢笔工具</string>
			<key>shortcut</key>
			<string>P</string>
		</dict>
		<dict>
			<key>image</key>
			<string>P添加锚点工具.png</string>
			<key>name</key>
			<string>添加锚点工具</string>
			<key>shortcut</key>
			<string>P</string>
		</dict>
		<dict>
			<key>image</key>
			<string>P删除锚点工具.png</string>
			<key>name</key>
			<string>删除锚点工具</string>
			<key>shortcut</key>
			<string>P</string>
		</dict>
		<dict>
			<key>image</key>
			<string>P转换点工具.png</string>
			<key>name</key>
			<string>转换点工具</string>
			<key>shortcut</key>
			<string>P</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>T横排文字工具.png</string>
			<key>name</key>
			<string>横排文字工具</string>
			<key>shortcut</key>
			<string>T</string>
		</dict>
		<dict>
			<key>image</key>
			<string>P直排文字工具.png</string>
			<key>name</key>
			<string>直排文字工具</string>
			<key>shortcut</key>
			<string>T</string>
		</dict>
		<dict>
			<key>image</key>
			<string>P直排文字蒙板工具.png</string>
			<key>name</key>
			<string>直排文字蒙板工具</string>
			<key>shortcut</key>
			<string>T</string>
		</dict>
		<dict>
			<key>image</key>
			<string>P文字蒙板工具.png</string>
			<key>name</key>
			<string>横排文字蒙板工具</string>
			<key>shortcut</key>
			<string>T</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>A路径选择工具.png</string>
			<key>name</key>
			<string>路径选择工具</string>
			<key>shortcut</key>
			<string>A</string>
		</dict>
		<dict>
			<key>image</key>
			<string>A直接选择工具.png</string>
			<key>name</key>
			<string>直接选择工具</string>
			<key>shortcut</key>
			<string>A</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>U矩形工具.png</string>
			<key>name</key>
			<string>矩形工具</string>
			<key>shortcut</key>
			<string>U</string>
		</dict>
		<dict>
			<key>image</key>
			<string>U圆角矩形工具.png</string>
			<key>name</key>
			<string>圆角矩形工具</string>
			<key>shortcut</key>
			<string>U</string>
		</dict>
		<dict>
			<key>image</key>
			<string>U椭圆工具.png</string>
			<key>name</key>
			<string>椭圆工具</string>
			<key>shortcut</key>
			<string>U</string>
		</dict>
		<dict>
			<key>image</key>
			<string>U多边形工具.png</string>
			<key>name</key>
			<string>多边形工具</string>
			<key>shortcut</key>
			<string>U</string>
		</dict>
		<dict>
			<key>image</key>
			<string>U直线工具.png</string>
			<key>name</key>
			<string>直线工具</string>
			<key>shortcut</key>
			<string>U</string>
		</dict>
		<dict>
			<key>image</key>
			<string>U自定形状工具.png</string>
			<key>name</key>
			<string>自定形状工具</string>
			<key>shortcut</key>
			<string>U</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>H-抓手工具.png</string>
			<key>name</key>
			<string>抓手工具</string>
			<key>shortcut</key>
			<string>H</string>
		</dict>
		<dict>
			<key>image</key>
			<string>R旋转视图工具.png</string>
			<key>name</key>
			<string>旋转视图工具</string>
			<key>shortcut</key>
			<string>R</string>
		</dict>
	</array>
</array>
</plist>
